$red: #FF0000;
$primary-color: #e6e6e6;
$secondary-color: #1779ba;

//general body
body {

  .help-text {
    color: red;
  }
}

//top bar
.header-nav {
  background-color: $primary-color;
  height: 80px;
  .title-bar {
    background-color: $primary-color;
    color: #2f4b26;
  }

  .top-bar, .top-bar ul {

    .title-bar-right {
      a {
        color: #fe5f55;
      }
    }
    .title-bar-left {
      button {
        color: $secondary-color;
      }
      .menu-text{
        a{
          color:red;
        }
      }

    }

  }
}
//main page
.main-page {
  min-height: 94vh;
  //background-image: url("../../../public/images/watermark.png");
  //background-repeat: no-repeat;
  //background-position: center;

}
.auth{
  margin-top: 10px;
  border: 2px solid $primary-color;
  padding: 40px;
  border-radius: 10px;
  opacity: 0.9;
}

//side bar
.sidebar{
  min-height: 500px;
  margin-left: -10px;

  .menu{
    line-height:3.5em;
  }
}
.side-bar-icon{
  color: $primary-color;

}
.sidebar-items{
  margin-top: 20px;
  height: 100%;
  margin-left:15px ;
}

.content-area{

}

.dashboard-content{
  margin-bottom: 20px;
  .dashboard-item{
    .icon-user{
      text-align: center;
      margin-top:15px;
      float: left;
      min-height: 50px;
    }
  }
}




.dash-title{
  padding:20px;
}
//login form

.home-logo {
  img {
    width: 85%;
    vertical-align: middle;

  }
}

.auth-icon {
  //color: $primary-color;

}

.auth-container {
  min-height: 630px;
  .login-content {
    min-height: 600px;
  }
}
.dash-container {
  min-height: 550px;
  .login-content {
    min-height: 520px;
  }
}

.auth-form {
  .auth-button {
    float: right;
  }
  .forgot-password {
    margin-top: 25px;
    margin-bottom: 25px;
  }

}

.footer-section {
  background: #e6e6e6;
  height: 50px;
  padding: 10px;
  margin-bottom: 0;

  .footer-text{
    color:#2f4b26;
  }
}
