$red: #FF0000;
$primary-color: #e6e6e6;
$secondary-color: #1779ba;
$primary-color2: #264027;
$white-links: #ffffff;
//general body
body {
height: auto;
  .help-text {
    color: red;
  }
}

//top bar
.header-nav {
  background-color: $primary-color;
  height: 80px;
  .title-bar {
    background-color: $primary-color;
    color: #2f4b26;
  }

  .top-bar, .top-bar ul {

    .title-bar-right {
      a {
        color: #fe5f55;
      }
    }
    .title-bar-left {
      button {
        color: $secondary-color;
      }
      .menu-text{
        a{
          color:red;
        }
      }

    }

  }
}
.main-page-login {
  min-height: 94vh;
}
//main page
.main-page {
  min-height: 100vh;
}
.auth{
  margin-top: 10px;
  border: 2px solid $primary-color;
  padding: 40px;
  border-radius: 10px;
  opacity: 0.9;
}

//side bar
.sidebar{
  height: auto;
  padding-left: 50px;
  .menu{
    line-height:1.0em;
  }
}
.side-bar-icon{
  color: $primary-color;

}
.sidebar-items{
  margin-top: 20px;
  height: 100%;
  margin-left:15px ;
}

.content-area{
  padding-top: 20px;

}

.dashboard-content{
  margin-bottom: 20px;
  .dashboard-item{
    a{
      text-align: center;
      color: #0a0a0a;
    }
    a:hover{
      text-align: center;
      color:$secondary-color ;
    }
    .icon-user{
      text-align: center;
      margin-top:15px;
      min-height: 50px;
    }
  }
}

.edit-button{
  color:$secondary-color;
  cursor:point
}



.dash-title{
  padding:20px;
}
//login form

.home-logo {
  img {
    width: 85%;
    vertical-align: middle;

  }
}

.auth-icon {
  //color: $primary-color;

}

.auth-container {
  min-height: 600px;
  vertical-align: middle;
  .login-content {
    min-height: 600px;
    vertical-align: middle;
  }
}
.dash-container {
  min-height: 84vh;
  line-height: inherit;
}

.auth-form {
  .auth-button {
    float: right;
  }
  .forgot-password {
    margin-top: 25px;
    margin-bottom: 25px;
  }

}

.footer-section {
  background: #e6e6e6;
  height: 50px;
  padding: 10px;
  margin-bottom: 0;

  .footer-text{
    color:#2f4b26;
  }
}
.align-left{
  float: left;
}
